.icon-block{
    padding: 0;
    .grid{
        display: table;
        margin: auto;
        .grid__item{
            .content{
                padding: $padding *6 / 5 0px $padding $padding * 4 / 5;
                width: 280px;
                height: 208px;
                margin: 0px $margin / 10;
                background-color: #E0E6ED;
                @include media-query('medium-down'){
                    width: 100%;
                    height: 170px;
                    padding: 20px;
                    margin-bottom: 10px;
                }
                .info{
                    margin-top: $margin * 2 / 5;
                    p{
                        text-transform: uppercase;
                        &.sub_heading{
                            color: $slide_caption_title_color;
                        }
                    }
                }
            }
        }
    }
}