.collection_products_main{
    .container{
        margin-top: 50px;
        img{
            filter: brightness(0.97);
        }
        h3{
            margin: 50px 0px;
        }
        .collection-template{
            display: none;
        }
    }
}