.yotpo div, .yotpo span, .yotpo p, .template-product .yotpo a, .yotpo img, .yotpo i, .yotpo strong, .yotpo sup, .yotpo ul, .yotpo li, .yotpo form, .yotpo label {
    font-family: 'Montserrat', sans-serif !important;
}
.yotpo .yotpo-review .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-comment .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-question .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-onsite-upload .yotpo-header .yotpo-header-element .y-label.yotpo-user-name, .yotpo .yotpo-pager .yotpo-page-element.yotpo-active, .template-product .yotpo a, .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper, .yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active span, .yotpo .font-color-primary, .yotpo .promoted-products-box .promoted-products .yotpo-promoted-product .yotpo-product-price, .yotpo a, .yotpo-icon-half-star, .yotpo-icon-star, .yotpo-icon-empty-star {
    color: #2e4676 !important;
    border-color: #2e4676 !important;
}
.yotpo-stars{
    display: table;
}
.yotpo-star-distribution-graph-score {
    background-color: #2e4676 !important;
}