<div class="failse_template">
    <div class="grid">
        <div class="content">
            <img src="{{ '404 image.png' | asset_url }}">
            <h3 class="brand text-center">Whoops!</h3>
            <h3 class="text-center">We couldn't find the page you are looking for!</h3>
            <h3 class="text-center" style="margin-top: 40px;">Checkout our top products</h3>
            <a href="/collections/holiday-deals" class="button small">View bestsellers</a>
        </div>
    </div>
</div>
{% section 'instagram' %}