<div class="bg_grey">
    <section class="faq-block">
        <div class="inner-content questions-ans">
            <h2>FAQ's</h2>
            {% for block in section.blocks %}
                {% if block.type == 'faq' %}
                    <div class="que-ans-wrap">
                        <p class="question h5">{{block.settings.title}}</p>
                        {{ block.settings.text }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a href="/pages/faqs" class="button small grey left">{{ 'general.button_text.see_all_faqs' | t }}</a>
    </section>
</div>
