<section>
    {% assign moon_phase_array = "Waxing Crescent,Waning Gibbous,New Moon,Full Moon,Waxing Gibbous,Lunar Eclipse,Solar Eclipse,Waning Crescent"| split: "," %}
    <div class="grid__item one-whole collection_products_main">
      <div class="container">
        <h3 class="text-center capitalize">{{ block.settings.title }}</h3>
        <div class="devider"></div>
        {%  for moon_phase in moon_phase_array %}
            {% assign col_handle = moon_phase | handleize %}
            <div class="col_handle_name {{col_handle}} grid collection-template">
              {% for i in (0..3) %}
                {% assign product =  collections[col_handle].products[i] %}
                {% if product != blank %}
                  {% include 'product-item' %}
                {% endif %}

              {% endfor %}
            </div>
        {% endfor %}
      </div>
    </div>
  </section>
