
<section class="swell-moon-glow">
  <div class="swell-redeem-products">
    <div class="swell-redeem-products-header">
      <h2 class="swell-heading">
        Redeem for Products
      </h2>
    </div>
  
    <div class="swell-referral-loader">
      <img class="big-spinner" src="{{'swell-loader.svg' | asset_url }}" alt="loader">
    </div>
  
    <div class="swell-free-product-list-container" style="display: none;">
      <ul class="swell-free-product-list {% if customer %} logged-in {% endif %} ">
  
      </ul>
    </div>
  </div>
</section>