<div id="rewards-page-redeem-options-region">
    <div>
      <div class="main-block redeem-section rewards-page-redeem-section-image rewards-page-redeem-section-color">
        <div class="container">
          <div class="row">
            <div class="block-holder">
              <div class="heading-holder">
                <h3 class="text-center" id="redeem_header">Redeem for products</h3>
                <div class="devider"></div>
              </div>
              <div id="redeem-options-region">
                <div class="rewards-page-preloader" style="padding: 15px; text-align: center; overflow: hidden; font-size: 30px;"><div>
                  <i class="fa fa-spinner fa-spin"></i>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>