<div class="swell-vip-tiers">
    <div class="swell-vip-tiers-header">
      <h2 class="swell-heading">
        VIPs Earn Even More
      </h2>
      <p class="text">
        The more you spend, <br class="break-tag"> the more exclusive perks you unlock!
      </p>
    </div>
  
    <div class="swell-referral-loader">
      <img class="big-spinner" src="{{'swell-loader.svg' | asset_url }}" alt="loader">
    </div>
  
    <div class="swell-vip-tier-list-container" style="display: none;">
      <ul class="swell-vip-tier-list swell-vip-tier-list-vega">
        <li class="swell-vip-tier-first-list">
          <div class="swell-vip-tier-list-block">
            <h2 class="swell-vip-tier-list-heading tier-name">Vega</h2>
            <p>Spend: <span class="spend-required">$0-499</span></p>
          </div>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <span class="swell-vip-icon-bar"></span>
          </span>   
          <p class="swell-vip-text">
            1x moon point multiplier <span class="swell-vip-block"> (1 point earned per $1 spent)</span>
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <span class="swell-vip-icon-bar"></span>
          </span>
          <p class="swell-vip-text">
            Birthday Bonus (100 moon points)
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <span class="swell-vip-icon-bar"></span>
          </span>
          <p class="swell-vip-text">
            Free shipping when you spend over $50
          </p>
        </li>
      </ul>
      <ul class="swell-vip-tier-list swell-vip-tier-list-luna">
        <li class="swell-vip-tier-first-list">
          <div class="swell-vip-tier-list-block">
            <h2 class="swell-vip-tier-list-heading tier-name">Luna</h2>
            <p>Spend: <span class="spend-required">$500+</span></p>
          </div>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <i class="swell-vip-icon swell-icon-crescent-moon-unfilled">
          <span class="path1"></span>
          </i>
          </span>
          <p class="swell-vip-text">
            1.5x moon point multiplier <span class="swell-vip-block"> (1.5 point earned per $1 spent)</span>
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <i class="swell-vip-icon swell-icon-crescent-moon-unfilled">
          <span class="path1"></span>
          </i>
          </span>
          <p class="swell-vip-text">
            Free Shipping
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <i class="swell-vip-icon swell-icon-crescent-moon-unfilled">
          <span class="path1"></span>
          </i>
          </span>
          <p class="swell-vip-text">
            Birthday Bonus (150 points)
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
          <i class="swell-vip-icon swell-icon-crescent-moon-unfilled">
          <span class="path1"></span>
          </i>
          </span> 
          <p class="swell-vip-text">
            Entry Gift: 10% off Your Next Purchase when entering the tier.
          </p>
        </li>
        <li>
          <span class="swell-vip-icon-bar-holder">
            <i class="swell-vip-icon swell-icon-crescent-moon-unfilled">
              <span class="path1"></span>
            </i>
          </span> 
          <p class="swell-vip-text">
            Free Kitty Pin with every order
          </p>
        </li>
      </ul>
    </div>
  </div>
  
  