<div class="swell-redeem-products">
    <div class="swell-redeem-products-header">
      <h3 class="swell-heading text-center">
        Redeem for Products
      </h3>
      <div class="devider"></div>
    </div>
  
    <div class="swell-referral-loader">
      <img class="big-spinner" src="{{'swell-loader.svg' | asset_url }}" alt="loader">
    </div>
  
    <div class="swell-free-product-list-container">
      <ul class="swell-free-product-list {% if customer %} logged-in {% endif %} ">
  
      </ul>
    </div>
  </div>
   