.search-template{
    margin-top: 100px!important;
    @include media-query('medium-down'){
        margin-top: 20px!important;
    }
    .header{
        h2{
            text-transform: capitalize;
            font-family: $font-heading;
        }
        form.search-box{
            margin-top: 10px;
            display: inline-flex;
            width: 100%;
            padding: 10px 20px;
            input{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                height: 43px;
            }
            button{
                margin: 0;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                width: 60px;
            }
        }
    }
    ul.content{
        width: 100%;
        li{
            padding: 20px 50px;
            border-bottom: 1px solid #f4f6f8;
            margin-bottom: 30px;
            a{
                img{
                    margin: auto;
                    display: table;
                }
                h3{
                    text-align: center;
                    margin-top: 30px;
                    &:before{
                        content: " ";
                        width: 100px;
                        border-top: 1px solid black;
                        height: 1px;
                        display: table;
                        margin: auto;
                        margin-bottom: 20px;
                    }
                }
            }
            p{
                text-align: center;
                max-width: 900px;
                margin: 10px auto;
            }
        }
    }
    .pagination{
        text-align: center;
        span{
            padding: 10px;
            a{
                
                font-size: 14px;
                font-family: $font-heading;
                color: black;
            }
            &.current{
                font-size: 14px;
                font-family: $font-brand;
                color: black;
            }
        }
    }
}