{% include 'collection_image_text' %}

<section id="gf-products" class="collection-template">

</section>

<div class="collection-list-banner hide">
    <div class="banner-caption one-half medium-down--one-whole left">
        <div class="one-half banner left lazyload" data-bgset="{% include 'responsive-bg-image', image: section.settings.caption_banner %}"></div>
        <div class="one-half info right" style="background-color: {{ section.settings.caption_bg_color }} ">
            <div class="content">
                <svg width="26px" height="32px" viewBox="0 0 26 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs></defs>
                    <g id="style-guide" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="icons" transform="translate(-487.000000, -24.000000)" fill="#2E4676" fill-rule="nonzero">
                            <g id="present_ico" transform="translate(487.000000, 26.000000)">
                                <path d="M4,18 L4,28 L22,28 L22,18 L4,18 Z M2,16 L24,16 L24,30 L2,30 L2,16 Z" id="Rectangle-21"></path>
                                <path d="M2,13 L2,17 L24,17 L24,13 L2,13 Z M0,11 L26,11 L26,19 L0,19 L0,11 Z" id="Rectangle-21"></path>
                                <path d="M13.9964636,10.9159744 L14.1090358,12.2509724 L12.7971525,11.9792104 C7.25202238,10.8305138 3.70112347,9.44041498 2.07059845,7.68935029 C0.151778892,5.62867834 0.839761331,3.22441163 3.69579635,0.907839357 C9.4922015,-3.79371065 13.0810874,0.0604904449 13.9964636,10.9159744 Z M4.95568514,2.46111984 C2.88924055,4.13724363 2.56169306,5.28191169 3.53429326,6.3264132 C4.68336154,7.56042855 7.48225966,8.72568315 11.8750898,9.73168722 C10.9787258,1.3160568 8.80585415,-0.661809238 4.95568514,2.46111984 Z" id="Path-14"></path>
                                <path d="M25.9964636,10.9159744 L26.1090358,12.2509724 L24.7971525,11.9792104 C19.2520224,10.8305138 15.7011235,9.44041498 14.0705984,7.68935029 C12.1517789,5.62867834 12.8397613,3.22441163 15.6957964,0.907839357 C21.4922015,-3.79371065 25.0810874,0.0604904449 25.9964636,10.9159744 Z M16.9556851,2.46111984 C14.8892406,4.13724363 14.5616931,5.28191169 15.5342933,6.3264132 C16.6833615,7.56042855 19.4822597,8.72568315 23.8750898,9.73168722 C22.9787258,1.3160568 20.8058542,-0.661809238 16.9556851,2.46111984 Z" id="Path-14" transform="translate(19.548686, 5.593801) scale(-1, 1) translate(-19.548686, -5.593801) "></path>
                            </g>
                        </g>
                    </g>
                </svg>
                <h3 class="mark">{{ section.settings.caption_title }}</h3>
                <div class="devider left"></div>
                <div class="desc">{{ section.settings.caption_text }}</div>
            </div>
        </div>
    </div>
 </div>

{% schema %}
{
    "name": "Colllection moon template",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_moon_phase_control",
            "label": "Show moon phase control",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "image_banner",
            "label": "Banner image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "desc",
            "label": "Description",
            "default": "<p>Your headline</p>"
        },
        {
            "type": "range",
            "id": "item_per_row",
            "label": "Item per row",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 1
        },
        {
            "type": "image_picker",
            "id": "caption_banner",
            "label": "Banner"
        },
        {
            "type": "color",
            "id": "caption_bg_color",
            "label": "Caption background color"
        },
        {
            "type": "text",
            "id": "caption_title",
            "label": "Caption title"
        },
        {
            "type": "richtext",
            "id": "caption_text",
            "label": "Caption description"
        }
    ]
}
{% endschema %}
